body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 100%;
    display: flex;
}

.img {
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.content {
    position: absolute;
    left: 60%;
    text-align: center;
}

.content1 {
    position: absolute;
    left: 80%;
    text-align: center;
}
.content2{
    position: absolute;
    left: 10%;
    text-align: center;
}
.content3 {
    position: absolute;
    left: 0;
    top: 25%;
    bottom: 0;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(180, 179, 179);
    text-align: center; 

}

.content4 {
    position: absolute;
    left: 0;
    top: 40%;
    bottom: 0;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(106, 105, 105);
    text-align: center; 
}

.content5{
    position: absolute;
    left: 0;
    top: 55%;
    bottom: 0;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(106, 105, 105);
    text-align: center; 
}

.button{
    background-color: #dd1414;
    color: #c7c7c7;
    border-radius: 40%;
    height: 30%;
    width: 20%;
    border: #dd1414;
}

.text{
    font-size: 100%;
}


.styled-button {
height: 150%;
width: 150%;
border-radius: 40%;
border: 1px solid #c7c7c7;
}

.styled-button1{
height: 150%;
width: 150%;
border-radius: 40%;
border: 1px solid #c7c7c7;
margin-left: 10%;
}

.styled-button2{
    height: 150%;
    width: 150%;
    margin-left: 10%;
    font-size: 150%;
}


h2{
    text-align: center;
}

.container1{
    display: flex;
    
}

.d-block{
    width: 300px;
    height: 300px;
}

.container2{
    display: flex;
    justify-content:space-around;
    align-items: center; 
}

.card-body{
text-align: center;
}

.btn-danger{
margin: 5%;
margin-left: 45%;
}

.container3{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    margin: 5%;
}

.g2{
    width: 900px;
    height: 300px;
}

h6{
    text-align: center;
    color: #929292;
    margin: 4%;
}

.text-enter{
    border: 1px solid #c7c7c7;
}
  
.container4{
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 10%;
  }
  
  .text-input {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }

hr{
    color: #dd1414;
}

h4{
    color: #dd1414;
}

.navigation-container {
    display: flex;
    margin-left: 20%;

  }
  
  .navigation {
    list-style-type: none;
    padding: 0;
    margin: 2%;
  }
  
  .navigation li {
    display: block;
    margin-right: 10px; 
  }

  @media (max-width: 650px) {
    .container3 img {
      max-width: 50%;
    }

    .container4{
        display: flex;
        align-items: center;
        margin-left: 15%;
        margin-bottom: 10%;
      }
      
      .text-input {
        border: 1px solid #ccc;
        padding: 8px;
        font-size: 16px;
        margin-right: 10px;
      }
      
      .search-button {
        background-color: red;
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
      }
      h3{
        font-size: small;
      }
      h4{
        font-size: small;
      }
      .content5{
        position: absolute;
        left: 0;
        top: 70%;
        bottom: 0;
        right: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(106, 105, 105);
        text-align: center; 
    }
    .text{
        font-size: 80%;
    }

    .container1{
        display: flex;
        flex-direction:column;
    }
    .container3{
        display: flex;
        flex-direction:column;
    }
    
    .d-block{
        width: 400px;
        height: 400px;
    }

    .d-block {
        width: 100%;
        height: 300px;
        margin-top: 5%;
    }

    .btn-danger{
        margin: 5%;
        margin-left: 30%;
        }
}
  
  




